<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body class="">
    <h1>The Farewell Party Project</h1>
    <button type="button" class="btn btn-dark"><a style="text-decoration: none;color:antiquewhite" href="/allattendee">View Attendees</a></button>
    <button type="button" class="btn btn-dark"><a style="text-decoration: none;color:antiquewhite" href="/enlist">Enlist Yourself</a></button>
    <button type="button" class="btn btn-dark"><a style="text-decoration: none;color:antiquewhite" href="/updatepaystatus">Payment Approval Admin</a></button>
</body>
</html>